<body class="workBody">
  <article>
    <div id="work" class="work">
      <h1>Work Page</h1>

      <hr />

      <iframe
        class="main-iframe"
        src="https://connorcleveland2002.github.io/fun-finder/homePage.html"
        alt="Fun-Finder Demo"
      ></iframe>
      <ul>
        <a
          href="https://connorcleveland2002.github.io/fun-finder/homePage.html"
        >
          <h3>Fun Finder</h3>
        </a>
        <p>Fun Finder was a group project, in which the goal was to successfully
          use an API to create a functional web application. We decided as a
          group to create an application centred around getting people who fele
          locked up at home during Covid outside and doing some events. So, we
          designed an interface where users can select their location, add their
          interests by keyword or category, and a few other constraints, and
          then they recieve a list of events that matcdh up with the user input.
          From there, users can save certain events they find interesting and go
          to their saved page to view their saved events in a carousel.</p>
        <li>Deployed Link:
          <a
            href="https://connorcleveland2002.github.io/fun-finder/homePage.html"
          >Fun-Finder Deployed</a></li>
        <li>Github Link:
          <a href="https://github.com/ConnorCleveland2002/fun-finder">Fun-Finder
            Repository</a>
        </li>
      </ul>

      <hr />

      <iframe
        src="https://connorcleveland2002.github.io/Weather-Dashboard/"
        alt="Weather Dashboard Demo"
      >
      </iframe>
      <ul>
        <a href="https://connorcleveland2002.github.io/Weather-Dashboard/">
          <h3>Weather Dashboard</h3>
        </a>
        <p>Weather Dashboard's goal was to get a week's forecast on a certain
          location, and to get weather-related data on the location for the
          whole week. Users can input their location or use a custom location in
          the search field, and a return will come from the search giving back
          Temperature, Humidity, Windspeed, and UV Index, as well as an image
          relating to the weather of that area dependant on the current
          conditions in that area. This was a solo assignment, and one I had
          allot of fun creating.</p>
        <li>Deployed Link:
          <a
            href="https://connorcleveland2002.github.io/Weather-Dashboard/"
          >Weather Dashboard Deployed</a></li>
        <li>Github Link:
          <a
            href="https://github.com/ConnorCleveland2002/Weather-Dashboard"
          >Weather Dashboard Github</a></li>
      </ul>

      <hr />
      <iframe
        src="https://eleven-note-takerinator.herokuapp.com/index.html"
        alt="Note-Taker Demo"
      ></iframe>
      <ul>
        <a href="https://eleven-note-takerinator.herokuapp.com/index.html">
          <h3>Note Taker-inator</h3>
        </a>
        <p>
          Note-Taker-inator's goal was to create a note-taking programme, and
          allow users to create and store their notes on a deployed site. This
          was a solo projects, and included a user being able to add a new note
          with a title and contents, then being able to save on their local
          machine the notes that they took, as well as the ability to be able to
          delete any notes they had taken but didn't need anymore.
        </p>
        <li>Deployed Link:
          <a
            href="https://eleven-note-takerinator.herokuapp.com/index.html"
          >Note Taker-inator Deployed</a></li>
        <li>Github Link:
          <a
            href="https://github.com/ConnorCleveland2002/Note-Taker-inator"
          >Note Taker-inator Github</a></li>
      </ul>
    </div>
    <hr />
  </article>
</body>